<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<!--

Template 2082 Pure Mix

http://www.tooplate.com/view/2082-pure-mix

-->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">

	<!-- Site title
   ================================================== -->
	<title>Xenium</title>

	<!-- Bootstrap CSS
   ================================================== -->
	<link rel="stylesheet" href="/xenium/css/bootstrap.min.css">

	<!-- Animate CSS
   ================================================== -->
	<link rel="stylesheet" href="/xenium/css/animate.min.css">

	<!-- Font Icons CSS
   ================================================== -->
	<link rel="stylesheet" href="/xenium/css/font-awesome.min.css">
	<link rel="stylesheet" href="/xenium/css/ionicons.min.css">

	<!-- Main CSS
   ================================================== -->
	<link rel="stylesheet" href="/xenium/css/style.css">
<link rel="stylesheet" href="https://use.typekit.net/wru2kon.css">
	<!-- Google web font 
   ================================================== -->	
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300' rel='stylesheet' type='text/css'>
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script><link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
  <style>
  
@media (max-width : 749px)  {
#imgs{
	display:none;
}
}  
@media (min-width : 750px)  {
#imgs{
	display:block;
}
}

  </style>
</head>
<body>


<!-- Preloader section
================================================== -->
<div class="preloader">

	<div class="sk-spinner sk-spinner-pulse"></div>

</div>


<!-- Navigation section
================================================== -->

<head th:replace="/xenium/common/navi.html"></head>
<head th:replace="/xenium/common/navileft.html"></head>

<!-- Portfolio section
================================================== -->
<section id="portfolio"style="background-color: #fcf1e3;padding-left: 0px;">
   <div class="container">
      <div class="row">

         <div class="col-md-12 col-sm-12">
            
              
			<!-- iso section -->
               <div class="iso-section wow fadeInUp" data-wow-delay="2.6s">
				   <head th:replace="/xenium/common/iso.html"></head>
               </div>
               
          <section id="contact" style="padding-top: 4rem;padding-left: 0px;">
   			<div class="container">
               <div class="row">
				<div class="wow fadeInUp col-md-5 col-sm-6" data-wow-delay="1.6s" style="padding-left: 0px;">
						<div style="font-family: acumin-pro, sans-serif;font-weight: 700;font-style: italic;font-size:45px;text-align: left;padding-top: 60px;color:#83413e;">
						Who we are
						</div><br><br>
						
						
						<div style="font-family: 'Noto Serif KR', serif;font-weight: 200;font-size:20px;text-align: left;padding-top: 20px;padding-left: 35px;">
						&nbsp; "We Brew & Bake For Your Rest."
						</div>
						
						<br><br>
						<div style="font-family: 'Noto Serif KR', serif;font-weight: 100;font-size:14px;text-align: left;padding-top: 0px; padding-left: 20px;">
						좋아하는 일을 오랫동안 하고 싶은 사람들.<br>
						그 진심을 알아봐주는 손님들
						<br><br>
						오래토록 질리지 않는 평법한 가게를 꾸려가고픈,<br>
						지니엄은 사람이 있는 곳입니다.
						<br><br>
						<br>
						</div>
						<div style="font-family: acumin-pro, sans-serif;font-weight: 700;font-style: italic;font-size:45px;text-align: left;padding-top: 40px;color:#83413e;">
						What we do
						</div><br>
						
						<div style="font-family: 'Noto Serif KR', serif;font-weight: 100;font-size:14px;text-align: left;padding-top: 20px; padding-left: 20px;">
						산꼭대기 동네에서 커피를 볶고<br>
						쿠키를 구으며 행복하게 일하고 있습니다.
						</div>
						<br>
						<div style="font-family: 'Nanum Gothic Coding', monospace; font-weight: 100;font-size:20px;text-align: left;padding-top: 15px; padding-left: 10px;color:#83413e;">
						Coffee
						</div><br>
						
						<div style="font-family: 'Noto Serif KR', serif;font-weight: 100;font-size:14px;text-align: left;padding-top: 8px; padding-left: 20px;">
						"커피 한 잔 할래?"<br>
						이 사랑스러운 질문으로 우리는 많은 말을 대신합니다.<br><br>
						
						'잠깐 쉴까?','당신과 함께 시간을 보내고 싶어요.'<br><br>
						
						그만큼 일상적이며 특별한 아이러니는 바로 커피입니다.<br>
						지니엄은 Ethiopia의 특별한 커피를 로스팅 합니다.<br>
						그리고 그 커피가 여러분의 일상이 되는 일을 하고 있습니다.<br><br>
						</div>
						<div style="font-family: 'Nanum Gothic Coding', monospace; font-weight: 100;font-size:20px;text-align: left;padding-top: 15px; padding-left: 10px;color:#83413e;">
						Cookie
						</div>
						<br>
						<div style="font-family: 'Noto Serif KR', serif;font-weight: 100;font-size:14px;text-align: left;padding-top: 8px; padding-left: 20px;">
						무심코 먹었다가<br>
						맛있어서 놀라는 쿠키를 만들고 있습니다.<br>
						맛있으면서도 건강한 쿠키를 만들기 위해<br>
						건강한 재료를 사용합니다.<br>
						건강한 재료를 정직하게 사용합니다.<br>
						그리고 이 작업을 매일같이 정성껏 반복합니다.<br><br><br>
						
						여러분의 쉼에 즐거운 도움이 되길 바라는 마음을<br>
						지니엄의 작은 쿠키 하나와 커피 한 잔에	담았습니다.
						</div><br><br><br>
						<div style="font-family: acumin-pro, sans-serif;font-weight: 100;font-size:20px;text-align: right;padding-top: 10px;color:#83413e;">
						XENIUM est. 2017
						</div>
						<div style="font-family: 'Noto Serif KR', serif;font-weight: 100;font-size:12px;text-align: right;padding-top: 10px;">
						Xenium. Latin. Noun. An offering from host to guest.
						</div>
				
				</div>
		</div></div></section>

         </div>

      </div>
   </div>
</section>


<head th:replace="/xenium/common/footer.html"></head>


<!-- Javascript 
================================================== -->
<script src="/xenium/js/jquery.js"></script>
<script src="/xenium/js/bootstrap.min.js"></script>
<script src="/xenium/js/isotope.js"></script>
<script src="/xenium/js/imagesloaded.min.js"></script>
<script src="/xenium/js/wow.min.js"></script>
<script src="/xenium/js/custom.js"></script>

</body>
</html>