<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<!--

Template 2082 Pure Mix

http://www.tooplate.com/view/2082-pure-mix

-->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">

	<!-- Site title
   ================================================== -->
	<title>Xenium</title>

	<!-- Bootstrap CSS
   ================================================== -->
	<link rel="stylesheet" href="/xenium/css/bootstrap.min.css">

	<!-- Animate CSS
   ================================================== -->
	<link rel="stylesheet" href="/xenium/css/animate.min.css">

	<!-- Font Icons CSS
   ================================================== -->
	<link rel="stylesheet" href="/xenium/css/font-awesome.min.css">
	<link rel="stylesheet" href="/xenium/css/ionicons.min.css">

	<!-- Main CSS
   ================================================== -->
	<link rel="stylesheet" href="/xenium/css/style.css">
<link rel="stylesheet" href="https://use.typekit.net/wru2kon.css">
	<!-- Google web font 
   ================================================== -->	
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300' rel='stylesheet' type='text/css'>
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script><link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
  <style>
  
@media (max-width : 749px)  {
#imgs{
	display:none;
}
}  
@media (min-width : 750px)  {
#imgs{
	display:block;
}
}

  </style>
  <style>
	  .array{
		  display:inline-block;
	  }
	  .grid {
		  display: grid;
		  grid-template-columns: 200px auto;
		  grid-template-rows: 70px minmax(160px, auto) auto;
		  grid-template-areas:
    'header header'
    'leftbar main'
	  ;
		  column-gap: 20px;
		  row-gap: 20px;
	  }

	  .page-header {
		  grid-area: header;
	  }

	  .page-leftbar {
		  grid-area: leftbar;
	  }

	  .page-main {
		  grid-area: main;
	  }


	  .content {
		  color: #242424;
		  background-color: #f9f9f9;
		  font-weight: 600;
		  text-align: center;
		  box-sizing: border-box;
		  height: 100%;
		  padding: 10px;
		  align-content: center;
	  }
	  .money{
		  float: left;
	  }
  </style>
</head>
<body>


<!-- Preloader section
================================================== -->
<div class="preloader">

	<div class="sk-spinner sk-spinner-pulse"></div>

</div>


<!-- Navigation section
================================================== -->

<head th:replace="/xenium/common/navi.html"></head>
<head th:replace="/xenium/common/navileft.html"></head>

<!-- Portfolio section
================================================== -->
<section id="portfolio"style="background-color: #fcf1e3;padding-left: 0px;">
   <div class="container">
      <div class="row">

         <div class="col-md-12 col-sm-12">
            
              
			<!-- iso section -->
               <div class="iso-section wow fadeInUp" data-wow-delay="2.6s">
				   <head th:replace="/xenium/common/iso.html"></head>
               </div>
               
          <section id="contact" style="padding-top: 4rem;padding-left: 0px;">
   			<div class="container">
				<div style="font-family: acumin-pro, sans-serif;font-weight: 700;font-style: italic;font-size:45px;text-align: left;padding-top: 60px;color:#83413e;">
					HISTORY
				</div>
               <div class="row">
				   <th:block th:each="list : ${list}">
					   <div style="width: 100%">
						   <header class="page-header" style="margin:0; padding-top: 15px; padding-bottom: 5px;">
							   <div class="content" style="height:45px;font-size:26px;">
								   <p style="font-size: 25px;" th:text="${list.inDate}"></p>
							   </div>
						   </header>
						   <div style="width: 100%; display: inline-flex;">

						   <!--<aside class="page-leftbar">-->
							<div style="width: 40%">
							   <div class="content" style="padding-left:0;font-size:16px;">
								   <p th:text="${list.status}"></p>
								   <p th:text="${list.total}+원"></p>
							   </div>
							</div>
						   <!--</aside>-->

						   <!--<main class="page-main">-->
							   <div style="width: 60%; margin-left: 15px;">
							   <div class="content" style="padding-left:0;font-size:16px;">
								   <th:block th:each="each : ${list.eachProducts}">
									   <p th:text="${each.name}+ ${each.amount}+'개  '+${each.price}+원"></p>
								   </th:block>
							   </div>
							   </div>
								   <!--</main>-->
						   </div>

					   </div>
				   </th:block>
			   </div>
			</div>
		  </section>

         </div>

      </div>
   </div>
</section>


<head th:replace="/xenium/common/footer.html"></head>


<!-- Javascript 
================================================== -->
<script src="/xenium/js/jquery.js"></script>
<script src="/xenium/js/bootstrap.min.js"></script>
<script src="/xenium/js/isotope.js"></script>
<script src="/xenium/js/imagesloaded.min.js"></script>
<script src="/xenium/js/wow.min.js"></script>
<script src="/xenium/js/custom.js"></script>

</body>
</html>