<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<!--

Template 2082 Pure Mix

http://www.tooplate.com/view/2082-pure-mix

-->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">

	<!-- Site title
   ================================================== -->
	<title>Xenium</title>

	<!-- Bootstrap CSS
   ================================================== -->
	<link rel="stylesheet" href="/xenium/css/bootstrap.min.css">

	<!-- Animate CSS
   ================================================== -->
	<link rel="stylesheet" href="/xenium/css/animate.min.css">

	<!-- Font Icons CSS
   ================================================== -->
	<link rel="stylesheet" href="/xenium/css/font-awesome.min.css">
	<link rel="stylesheet" href="/xenium/css/ionicons.min.css">

	<!-- Main CSS
   ================================================== -->
	<link rel="stylesheet" href="/xenium/css/style.css">
<link rel="stylesheet" href="https://use.typekit.net/wru2kon.css">
	<!-- Google web font 
   ================================================== -->	
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300' rel='stylesheet' type='text/css'>
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script><link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
  <style>
  
@media (max-width : 749px)  {
#imgs{
	display:none;
}
}  
@media (min-width : 750px)  {
#imgs{
	display:block;
}
}

  </style>
</head>
<body>


<!-- Preloader section
================================================== -->
<div class="preloader">

	<div class="sk-spinner sk-spinner-pulse"></div>

</div>


<!-- Navigation section
================================================== -->

<head th:replace="/xenium/common/navi.html"></head>
<head th:replace="/xenium/common/navileft.html"></head>

<!-- Portfolio section
================================================== -->
<section id="portfolio"style="background-color: #fcf1e3;padding-left: 0px;">
   <div class="container">
      <div class="row">

         <div class="col-md-12 col-sm-12">
            
              
			<!-- iso section -->
               <div class="iso-section wow fadeInUp" data-wow-delay="2.6s">
				   <head th:replace="/xenium/common/iso.html"></head>
               </div>
               
          <section id="contact" style="padding-top: 4rem;padding-left: 0px;">
   			<div class="container">
               <div class="row">
				<div class="wow fadeInUp col-md-5 col-sm-6" data-wow-delay="1.6s" style="padding-left: 0px;">
					<th:block>


					</th:block>
				</div>
		</div></div></section>

         </div>

      </div>
   </div>
</section>


<head th:replace="/xenium/common/footer.html"></head>


<!-- Javascript 
================================================== -->
<script src="/xenium/js/jquery.js"></script>
<script src="/xenium/js/bootstrap.min.js"></script>
<script src="/xenium/js/isotope.js"></script>
<script src="/xenium/js/imagesloaded.min.js"></script>
<script src="/xenium/js/wow.min.js"></script>
<script src="/xenium/js/custom.js"></script>

</body>
</html>